.content {
  box-shadow: 0 0 0 3px #F8D45A, 0 0 0 8px #FFFCEF, 0 2px 20px 0 rgba(0,0,0,0.15);
  border-radius: 4px;
  border-radius: 4px;
}

table {
  thead {
    border-top: 2px solid #000 !important;
    border-bottom: 2px solid #000 !important;
    background-color: #F4F1EA;
  }
  tbody {
    tr {

      border-bottom: 2px solid #D9D9D9;
    }
  }
}
